# Pandas Data Frame

In [3]:
import pandas as pd
groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]
ironmen_dist = {"groups":groups, "ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dist)
ironmen_df

       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77

In [3]:
print(ironmen_df.sum()) #計算鐵人總數
print(ironmen_df.mean()) #計算平均鐵人數
print(ironmen_df.median()) #計算鐵人中位數
print(ironmen_df.describe()) #列出所有描述性統計

groups     Modern WebDevOpsCloudBig DataSecurity自我挑戰組
ironmen                                           184
dtype: object
ironmen    30.666667
dtype: float64
ironmen    16.5
dtype: float64
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [2]:
import numpy as np
import pandas as pd
groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, np.nan]
ironmen_dist = {"groups":groups, "ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dist)
print(ironmen_df)
print("---") #分隔線
print(ironmen_df.loc[:, "groups"].isnull()) #判斷哪些組的組名是遺失值
print("---") #分隔線
print(ironmen_df.loc[:, "ironmen"].notnull())  #判斷哪些組的鐵人數不是遺失值

       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2       Cloud     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
---
0    False
1    False
2    False
3    False
4    False
5    False
Name: groups, dtype: bool
---
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [4]:
ironmen_df_na_dropped = ironmen_df.dropna() #有遺失值的觀測值都刪除
print(ironmen_df_na_dropped)
print("---")
ironmen_df_na_filled = ironmen_df.fillna(0) #有遺失值的觀測值填補 0
print(ironmen_df_na_filled)
print("---")
ironmen_df_na_filled = ironmen_df.fillna({"groups": "Cloud", "ironmen": 71}) #依欄位填補遺失值
print(ironmen_df_na_filled)

       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77
---
       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77
---
       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77

In [5]:
import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

#建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

#用索引值排序
ironmen_df.sort_index()

            ironmen
Big Data         14
Cloud            19
DevOps            9
Modern Web       59
Security          6
自我挑戰組            77

In [17]:
import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

#建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

#用數值排序
ironmen_df.sort_values(by = "ironmen")

            ironmen
Security          6
DevOps            9
Big Data         14
Cloud            19
Modern Web       59
自我挑戰組            77