# Chap6-1 DataFrame loc, iloc
### DataFrame比numpy ndarry(element-wise)提供資料統整的功能
### DataFrame通常為2維資料
### 橫的為列(索引index)，直的為欄(column)

In [11]:
#隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.rand(4,4), index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.702871  0.750743  0.847304  0.641872
b  0.612423  0.991078  0.897607  0.128789
c  0.331957  0.857453  0.251204  0.241273
d  0.140858  0.508630  0.705654  0.980104

### loc用欄位來定位DataFrame的資料
### iloc用索引來定位DataFrame的資料

In [12]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.447027  0.776976  0.675442  0.498009
std    0.258065  0.204136  0.294270  0.389593
min    0.140858  0.508630  0.251204  0.128789
25%    0.284182  0.690215  0.592042  0.213152
50%    0.472190  0.804098  0.776479  0.441572
75%    0.635035  0.890860  0.859880  0.726430
max    0.702871  0.991078  0.897607  0.980104

In [13]:
frame.loc['a','A']

0.7028712614499473

In [14]:
#取前兩列之資料
frame.loc['a':'b', :]

          A         B         C         D
a  0.702871  0.750743  0.847304  0.641872
b  0.612423  0.991078  0.897607  0.128789

In [15]:
#取前兩欄之資料
frame.loc[:,'A':'B']

          A         B
a  0.702871  0.750743
b  0.612423  0.991078
c  0.331957  0.857453
d  0.140858  0.508630

In [16]:
#取特殊列，欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','c'],['A','D']])

          A         B         C         D
a  0.702871  0.750743  0.847304  0.641872
c  0.331957  0.857453  0.251204  0.241273
          A         C
a  0.702871  0.847304
b  0.612423  0.897607
c  0.331957  0.251204
d  0.140858  0.705654
          A         D
a  0.702871  0.641872
c  0.331957  0.241273

### iloc是利用列索引與欄索引進行資料定位，都是從0開始

In [17]:
frame.iloc[0,0]

0.7028712614499473

In [18]:
#取前兩列的資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.702871  0.750743  0.847304  0.641872
b  0.612423  0.991078  0.897607  0.128789

In [19]:
#取得兩列、兩欄之資料
frame.iloc[0:2, 0:2]

          A         B
a  0.702871  0.750743
b  0.612423  0.991078

In [20]:
#上面的例子取的都是連續的行和列，若取第一行和第四行、第一列和第四列對應的資料，則
frame.iloc[[0,3],[0,3]]

          A         D
a  0.702871  0.641872
d  0.140858  0.980104